#login-page {
  margin: 1rem auto;
  text-align: center;
}

#form {
  background-color: lightblue;
  margin: 0.5rem auto;
  padding: 1rem 0;
  width: 250px;
  align-items: center;
  border-radius: 0.3rem;
}

button {
  background-color: darkslategray;
  color: whitesmoke;
  font-weight: bold;
  margin-bottom: 1rem;
}

button:focus {
  background-color: teal;
}

#new-user {
  font-size: 12px;
}

a {
  text-decoration: none;
  background-color: white;
  padding: 0.2rem 0.5rem;
  margin: 0.2rem;
  border-radius: 0.2rem;
  color: teal;
}

a:active {
  background-color: darkblue;
  color: white;
}

a:hover {
  background-color: lightseagreen;
  color: white;
}
