/* * {
  margin: 0;
} */

#noteContainer {
  height: 400px;
  overflow-y: scroll;
}

#btnArea {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

#list {
  padding: 0;
  margin: 0;
}

.date {
  font-size: small;
  color: darkslateblue;
}
