#user-page {
  height: 800px;
}

#user-info {
  display: inline-flex;
  width: 80vw;
  justify-content: space-around;
  margin: 0 auto;
  margin-left: 50px;
}

#container {
  width: 70%;
  margin: 0 auto;
  padding: 0.5rem;
  padding-left: 0.6rem;
  padding-right: 0;
  background-color: beige;
  border-radius: 10px;
  color: gray;
}

h3 {
  color: black;
}

button {
  border: 0 solid white;
  padding: 0.3rem 1rem;
  border-radius: 5px;
}

hr {
  width: 70%;
}

#deleteBtn {
  background-color: gainsboro;
  color: white;
  margin-right: 8px;
}

#editBtn {
  background-color: green;
  color: white;
}

#deleteBtn:active {
  background-color: maroon;
}

#editBtn:active {
  background-color: yellowgreen;
}

#editBtn:hover {
  background-color: yellowgreen;
}

#deleteBtn:hover {
  background-color: red;
}

#title,
textarea {
  width: 80%;
  border: 0 solid white;
  padding: 5px;
  border-radius: 0.3rem;
}

input {
  font-weight: bold;
  margin-bottom: 1rem;
  border: 0 solid white;
  border-radius: 0.3rem;
  padding: 5px;
}

textarea {
  height: 160px;
  overflow-y: auto;
}

textarea:focus {
  border: 0 solid white;
}
